
body {
  font-family: "Optima", sans-serif;
  font-size: 25px;
}

#enterlabs
{
  font-family: "Andale mono", serif;
  margin-bottom: 1em;
  padding: 30px
}

h2
{
  font-family: "Optima", sans-serif;
  font-size: 25px
}

p {
  font-size: 30px;
  font-family: "Andale mono", serif;
}

.boldMe{
  font-size:20px;
  font-family: "Andale mono", serif;
  color:red;
  padding: 10px
}
.purpleMe{
  font-size:15px;
  font-family: "Andale mono", serif;
  color:rgb(196, 214, 252);
  padding: 10px
}

#home,
#about {
  display: block;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 50vh;
  min-height: 400px;
  padding: 1rem;
}

#home {
  background-color: rgb(205, 218, 245);
}

img {
    display: inline;
    margin: 30px;
    height: 150px;
    width: auto;

}

.image-cropper {
  position: relative;
  overflow: hidden;
  border-radius: 100%;
}

/* form styling */

.eachForm:hover {
  color: white
}


input {
  width: 50%;
  padding: 20px;
  background-color: rgb(205, 218, 245);
}

input[type=text]{
  border: none;
  border-bottom: 2px solid black;
  font-family: "Andale mono", serif;
  font-size: 20px;
  text-align:center
}

input[type=text]:focus{
  outline:none ;
}

#buttonSubmit {
  text-align: center;
  font-family: "Andale mono", serif;
  border: none;
  background-color:transparent;
  color: black;
  padding: 40px;
  font-size: 20px;
  display: block;
  transition-duration: 0.4s;
  margin-left: auto;
  margin-right: auto;
}
#buttonSubmit:hover {
  background-color:  rgb(205, 218, 245);
  color: white;
}

/* NavBar styling */

nav a {
  display: inline-block;
  margin: 30px;
  text-decoration: none;
  font-size: 20px;
  font-family: "Andale mono", serif;
  color: rgb(205, 218, 245);
  border-bottom: none;
}

nav a:hover,
nav a:active {
  color: black;
  border-bottom: none;
}

nav a.active {
  color: white;
}